.hero-image {
  background-image: url("billeder/forest.jpg");
  height: 60vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  left: 0;
  width: 100%;
  z-index: -1;
}

#beige {
  height: 200px;
  background-color: var(--cl-2);
  overflow: hidden;
}

#gul {
  width: 150%;
  height: 200%;
  background-color: var(--cl-3);
  border-radius: 100%;
  top: 50%;
  left: -25%;
  right: 0;
  position: relative;
}

main {
  font-family: var(--font-2);
}

h1,
h2,
h3 {
  font-family: var(--font-1);
  font-weight: 400;
}

h1,
h2 {
  margin-bottom: 1rem;
}

h1 {
  color: var(--cl-4);
  font-size: 8vw;
}

h2 {
  font-size: 6vw;
}

.index_middle h3 {
  text-align: center;
  font-size: 7vw;
  color: var(--cl-4);
}

.menu a {
  font-family: var(--font-2);
}

.contact_title {
  padding-bottom: 15rem;
  background-color: var(--cl-3);
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.contact_photo img {
  height: 60vh;
}

.index_middle {
  background-color: var(--cl-3);
  padding: 5rem 0;
}

.col_button2 {
  display: flex;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.index_button2 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  color: var(--cl-3);
  text-decoration: none;
  background-color: var(--cl-5);
  box-shadow: 3px 3px 1px rgba(85, 73, 50, 0.2);
  border-radius: 3px;
}

.index_button2:hover {
  color: var(--cl-2);
  background-color: var(--cl-4);
  transition: 0.1s;
}

input,
textarea {
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  width: 100%;
}

textarea {
  height: 6rem;
}

.submit {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  color: var(--cl-3);
  text-decoration: none;
  background-color: var(--cl-5);
  box-shadow: 3px 3px 1px rgba(85, 73, 50, 0.2);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  font-family: var(--font-2);
}

.submit:hover {
  color: var(--cl-2);
  background-color: var(--cl-4);
  transition: 0.1s;
}

#overskrift_svamp {
  color: var(--cl-4);
  font-family: var(--font-2);
  text-align: center;
  padding-top: 50px;
  font-size: 4rem;
  font-weight: 500;
}

body {
  background-color: #f2e9b8;
}

@media (min-width: 800px) {
  h1 {
    color: var(--cl-4);
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .index_middle h3 {
    font-size: 3rem;
  }

  .menu a {
    font-size: 1.5rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  /* width: 12rem; */
  font-family: var(--font-2);
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font-family: var(--font-2);
  font-size: 1rem;
}

#contact {
  background: var(--cl-2);
  padding: 25px;
  margin-top: 100px;
  box-shadow: 3px 3px 6px rgba(30, 30, 30, 0.2);
  border-radius: 5px;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--cl-5);
  color: var(--cl-2);
  margin: 0 0 5px;
  padding: 15px;
  font-size: 15px;
  border-radius: 5px;
}

#contact button[type="submit"]:hover {
  background: var(--cl-4);
  transition: 0.2s;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}
