/* ---------------------------reset--------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cl-2);
  margin: 0rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  align-self: stretch;
}
/* ---------------------------reset--------------------------- */

/* -------------------------variabler------------------------- */
html {
  --cl-1: #ffffff;
  --cl-2: #faf6e0;
  --cl-3: #f2e9b8;
  --cl-4: #554932;
  --cl-5: #6f1e23;

  --size-h1: 2.8rem;
  --size-h2: 1.5rem;
  --size-p: 1rem;

  --font-1: "Lexend Mega", sans-serif;
  --font-2: "Inter", sans-serif;
}
/* -------------------------variabler------------------------- */

header {
  position: sticky;
  top: 0;
  padding: 1.5rem 2rem;
  box-shadow: 0 10px 20px rgba(85, 73, 50, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo img {
  width: 8vw;
  height: 9vw;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;
  gap: 30px;
  overflow: auto;
}

a {
  text-decoration: none;
  color: var(--cl-4);
}

a:hover {
  color: var(--cl-5);
}
