/* -------------------------Hero Image by w3schools-------------------------- */
.hero-image {
  background-image: url("billeder/forest.jpg");
  /* Photo by Tim Foster: https://unsplash.com/photos/BeDY9KuP0sI */
  height: 80vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  left: 0;
  width: 100%;
  z-index: -1;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* -------------------------Hero Image by w3schools-------------------------- */
