* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.row2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 30px;
  background-color: var(--cl-3);
}

.overskrift1 {
  font-family: var(--font-1);
}

#bue {
  margin-top: 4rem;
  margin-bottom: -390px;
}

.kejserhatte {
  font-size: 1.5rem;

  padding-top: 10px;

  color: #241402;
  font-weight: bold;
  font-family: var(--font-2);
}
.overskrift {
  color: #6f1e23;
  text-align: center;
  padding-top: 50px;
  font-size: 1.5rem;
  font-family: var(--font-1);
}

.p_svampe {
  padding-bottom: 10px;
}
p {
  font-family: var(--font-2);
}
h3 {
  font-family: var(--font-2);
}
@media (max-width: 800px) {
  body {
    background-color: #efede0;
  }
  .overskrift {
    color: #6f1e23;
    text-align: center;
    padding-top: 50px;
    font-size: 1.5rem;
  }
  .row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
  }

  .forsidebillede {
    background-image: url("billeder/forest.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    left: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
  }
}

.kejserhatte {
  font-size: 1.5rem;
  padding-bottom: 5px;
  padding-top: 10px;
  color: #241402;
  font-weight: bold;
}
.p_svampe {
  padding-bottom: 8px;
  font-family: sans-serif;
  font-size: 0.9rem;
}
.billeder {
  padding-top: 30px;
}

.p_svampenavn {
  padding-bottom: 8px;
  font-family: sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}

.svampe {
  border-radius: 10px;

  transition: transform 0.5s ease;
}

.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  padding-left: 30px;
}

.logo img {
  width: auto;
}

.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  padding-left: 30px;
}

.logo1 {
  width: 60px;
  justify-content: center;
  margin-left: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer {
  background-color: #ffffff;
}
h3 {
  color: #6f1e23;
  text-decoration-color: #c36e0b;
}
.knap {
  text-align: justify;
}

/*.lister {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .lister li {
    display: inline-block; 
    margin-right: 20px; 
  }
  
  .lister li:last-child {
    margin-right: 0; 
  }
  .lister li {
    display: inline-block; 
    margin-right: 20px; 
  }
  
  .lister li:last-child {
    margin-right: 0; 
  }*/
